
.custom-swiper-button {
    cursor: pointer;
    z-index: 10;
}

.swiper-button-prev {
    left: auto !important;
    position: relative !important;
}

.swiper-button-next {
    right: auto !important;
    position: relative !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: none !important;
}